root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf

[*.cs]

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = suggestion

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = suggestion

# CA1859: Use concrete types when possible for improved performance
dotnet_diagnostic.CA1859.severity = suggestion

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = suggestion

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = suggestion
csharp_style_var_elsewhere = true
csharp_style_var_when_type_is_apparent = true

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = suggestion
csharp_style_expression_bodied_methods = when_on_single_line

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = suggestion

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped